# Environnement
.env
.env.*
*.env

# Python / Django
__pycache__/
*.pyc
*.pyo

venv/
.envrc

# Node / Frontend
node_modules/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

privkey.pem
*.save
curl
ping
frontend_incomplete/
frontend_old_*/
